@import url("https://fonts.googleapis.com/css?family=Abel");
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    /* font-family: Abel, sans-serif;
    font-family: "Montserrat", sans-serif;
    font-family: "Anton", sans-serif; */
}

body {
    overflow: hidden;
    color: #f5f5f5;
    line-height: 1.34;
    margin: 0;
    padding: 0;
}

.bg {
    /* background: #2f2f31; */
    /* background-image: radial-gradient(farthest-side at 50% 85%, #1f2338, #1a1c2a); */
    background:  url('bg.png'), #efb02c;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

#title {
    font-size: 2rem;
    font-family: "Anton", sans-serif;
    /* font-family: "Montserrat", sans-serif; */
    color: #2f2211;
    font-weight: 800;
    letter-spacing: 5px;
}

#scene {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    /* background-color: #22225a; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#scene .counters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#scene .counter {
    width: auto;
    width: 12rem;
    position: relative;
    font-size: 9rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-family: "Anton", sans-serif;
    margin-bottom: 10%;
    /* background-color: red; */
    color: #2f2211;

    /* flex: 1 1 calc(50% - 10px); /* Adjusts each counter to take 50% width minus the gap */
    text-align: center; 
}

#scene .counter span::before, #title {
    content: attr(b);
    display: inline-block;
    /* text-shadow: 0 0 12px rgba(238, 238, 238, 0.5), 0 0 32px rgba(238, 238, 238, 0.3), 0 24px 48px rgba(238, 238, 238, 0.1), 0 -24px 48px rgba(238, 238, 238, 0.1); */
}

#scene .counter span.ping::before {
    animation: pingEffect 0.4s 1 forwards;
}

#scene .counter b {
    color: #2f2211  ;
    font-size: 1.75rem;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font-family: "Montserrat", sans-serif;
}

@-moz-keyframes pingEffect {
    0% {
        transform: scale(0.92);
    }
    10% {
        opacity: 0.7;
    }
    20% {
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes pingEffect {
    0% {
        transform: scale(0.92);
    }
    10% {
        opacity: 0.7;
    }
    20% {
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

@-o-keyframes pingEffect {
    0% {
        transform: scale(0.92);
    }
    10% {
        opacity: 0.7;
    }
    20% {
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

@keyframes pingEffect {
    0% {
        transform: scale(0.92);
    }
    10% {
        opacity: 0.7;
    }
    20% {
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

/* media query hd */
@media (min-width: 769px) and (max-width: 1440px) {

    #scene .counter {
        width: 8rem;
        font-size: 6rem;
    }

    #scene .counter b {
        font-size: 1.25rem;
    }
}


/* media query mobile */
@media (max-width: 768px) {
    #scene {
        width: 65%;
        top: 55%;
    }

    #title {
        font-size: 1.5rem;
    }

    #scene .counters {
        flex-wrap: wrap;
    }

    #scene .counter {
        font-size: 5rem;
        margin-bottom: 2rem;
        width: 45%;
    }

    #scene .counter b {
        font-size: 1rem;
    }
}
