.main-header .header-upper {
    box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.08);
}

.services-section-three__one-page {
    padding: 240px 0px 90px;
    background-color: var(--thm-white) !important;
}

.services-section-three__one-page .sec-title h2 {
    color: var(--thm-black) !important;
}

.services-section-three__one-page .service-block-two .inner-box {
    background-color: var(--thm-white) !important;
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
}

.services-section-three__one-page .service-block-two .inner-box h5 a {
    color: var(--thm-black) ;
    /* color: #999b9f; */
} 

.service-block-two .inner-box .icon-box img {
    filter: invert(38%) sepia(81%) saturate(7527%) hue-rotate(335deg) brightness(98%) contrast(110%);
}

.gallery-section {
    padding: 0px 0 90px;
}

.gallery-item:hover {
    cursor: pointer;
}

.service-block-two .inner-box {
    height: 450px;
}

/* media query for mobile */
@media only screen and (max-width: 991px) {
    .service-block-two .inner-box {
        height: 400px;
    }
}